@{
  Layout = "_Layout";
}

<h1>Pierre's SweetShop</h1>
<h5>A subsidiary of Pierre Foods Conglomerate®</h5>
<p>@Html.ActionLink("See all treats", "Index", "Treats")</p>
<p>@Html.ActionLink("Browse treats by flavor", "Index", "Flavors")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
<p>@Html.ActionLink("Log-in", "Login", "Account")</p>